<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orbita">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Orbita">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity de Cadastro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Orbita" /> <!-- MainActivity (Home) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Orbita" /> <!-- Observatório -->
        <activity
            android:name=".ObservatorioActivity"
            android:exported="false"
            android:label="@string/title_activity_observatorio"
            android:theme="@style/Theme.Orbita" /> <!-- Perfil -->
        <activity
            android:name=".PerfilActivity"
            android:exported="false"
            android:label="@string/title_activity_perfil"
            android:theme="@style/Theme.Orbita" />
        <activity
            android:name=".NovaObservacaoActivity"
            android:exported="false"
            android:label="@string/title_activity_nova_observacao"
            android:theme="@style/Theme.Orbita" />
    </application>

</manifest>